<div id='doc-viewer'>
        <div id='page-num-container'>
                <input type='text' id='page-num' size='4' min='1' /> of <span id='num-pages'>Unknown</span>
        </div>
        <div id='zoomer'>
                <span id='zoom-out' class='zoom-button'>−</span>
                <span id='zoom-in' class='zoom-button'>+</span>
        </div>
        <div id='doc-container'>
                <span id='prev-page' class='page-arrow'>←</span>
                <div id='spinner-container'>
                        <div id='spinner' class='spinner'>
                                <div class="bar1"></div>
                                <div class="bar2"></div>
                                <div class="bar3"></div>
                                <div class="bar4"></div>
                                <div class="bar5"></div>
                                <div class="bar6"></div>
                                <div class="bar7"></div>
                                <div class="bar8"></div>
                        </div>
                </div>
                <img id='page' />
                <span id='next-page' class='page-arrow'>→</span>
        </div>
</div>

