{% extends "base.html" %}
{% load authorslist %}
{% load ref_url %}

{% block page_title %}[Viewing Ref] {{ ref.title }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/page-viewer.css" />
{% endblock %}

{% block content %}
<div>
        <h1 class='title'>{{ ref.title }}</h1>
        <span class='authors'>{{ ref.authors|format_authors }}</span>
        <div><a href="/refs/{{ ref|get_id }}/show">View Ref</a> | <a href="/documents/{{ doc|get_id }}">Download</a></div>
{% include "documents/inline-viewer.html" %}
{% endblock %}

