{% extends "base.html" %}
{% load authorslist %}
{% load format_tex %}
{% load ref_url %}

{% block page_title %}[Viewing Ref] {{ ref.title }}{% endblock %}

{% block extra_head %}
<script type='text/javascript'>
        var page_n = {{ page_n }};
        var n_pages = {{ n_pages }};
        function set_page() {
                $('spinner-container').style.display = 'block';
                $('page').style.opacity = 0.2;
                $('page').onload = function() {
                        $('page').style.opacity = 1;
                        $('spinner-container').style.display = 'none';
                };
                $('page').src = "/documents/{{ doc.md5 }}/page/" + page_n + "?{{opts}}"
                $('page').alt = "Page " + page_n;
                $('page-num').firstChild.nodeValue = 'Page ' + (page_n+1) + ' of ' + n_pages;
                var stateObj = { page_n: page_n };
                var url = "/documents/{{ doc.md5 }}/view/" + page_n + "?{{opts}}";
                history.pushState(stateObj, 'page ' + page_n, url);
        }
        window.onpopstate = function(event) {
                page_n = event.state['page_n'];
                set_page();
        };
        function next_page() {
                page_n += 1;
                if (page_n == n_pages-1)
                        $('next-page').style.visibility = 'hidden';
                $('prev-page').style.visibility = 'visible';
                set_page(page_n);
        }
        function prev_page() {
                page_n -= 1;
                if (page_n == 0)
                        $('prev-page').style.visibility = 'hidden';
                $('next-page').style.visibility = 'visible';
                set_page(page_n);
        }
</script>

<style type='text/css'>
        div#doc-container {
                display: -webkit-box;
                -webkit-box-orient: horizontal;
                background-color: #eee;
                padding: 2em;
                -webkit-box-pack: center;
        }
        .page-arrow {
                display: -webkit-box;
                -webkit-box-orient: horizontal;
                font-size: xx-large;
                text-align: center;
                /*border: dotted 1px;*/
                min-width: 5em;
                cursor: pointer;
                background-color: #ddd;
                border-radius: 15px;
        }
        .page-arrow:hover {
                background-color: #ccc;
        }
        #prev-page {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
        }
        #next-page {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
        }
        #spinner-container {
                position: absolute;
                top: 50%;
                left: 50%;
                display:none;
                background-color: #fff;
                border-radius: 15px;
        }
</style>
{% endblock %}

{% block content %}
<div>
        <h2>{{ ref.title }}</h2>
        <span class='authors'>{{ ref.authors|format_authors }}</span>
        <div><a href="/refs/{{ ref|get_id }}">Back to Ref</a> | <a href="/documents/{{ doc.md5 }}">Download</a></div>
</div>
<div id='page-num' style='text-align: center;'>Hello World</div>
<div id='doc-container'>
        <span id='prev-page' class='page-arrow' onclick="prev_page()">←</span>
        <span id='spinner-container'>
                <div id='spinner' class='spinner'>
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                        <div class="bar4"></div>
                        <div class="bar5"></div>
                        <div class="bar6"></div>
                        <div class="bar7"></div>
                        <div class="bar8"></div>
                </div>
        </span>
        <img id='page' />
        <span id='next-page' class='page-arrow' onclick="next_page()">→</span>
</div>

<script type='text/javascript'>
        set_page();
</script>
{% endblock %}

