body, html {
	background-color: #f6f6f6;
	margin: 0;
	padding: 0;
}

div#page-head {
        background-color: #203060;
        color: #fff;
}

div.nav a {
        padding: 0.5em 1em;
        margin: 0.2em;
        background-color: #6070a0;
        color: #eee;
}

div.nav a:hover {
        color: #fff;
}

div#content {
	background-color: #fff;
	height: 100%;
	margin: 0 auto;
	padding: 0 1.2em 1.2em 1.2em;
}

h1.title {
        font-size: x-large;
        font-weight: bold;
	margin: 0.3em 0;
	padding: 0.1em 0;
}

blockquote {
	line-height: 1.8em;
	margin-top: 0;
	margin-bottom: 1em;
}

ul {
	padding-left: 1.5em;
}

ul li {
	list-style-type: disc;
	margin-left: 1.5em;
	margin-top: 0.4em;
}

