body, html {
        background-color: #f6f6f6;
        margin: 0;
        padding: 0;
}
div#page-head {
        background-color: #203060;
        color: #fff;
}
div#page-head h1 {
        padding: 0.5em;
        font-size: large;
}
div#page-head div.nav {
}
div#page-head div.nav a {
        display: inline-block;
        padding: 0.5em 1em;
        margin: 0 1em;
        background-color: #6070a0;
        color: #eee;
        border-radius: 5px 0px;
}

div#page-head div.nav a:hover {
        color: #fff;
}
div#content {
        background-color: #fff;
        height: 100%;
        margin: 0 auto;
        padding: 0 1.2em 1.2em 1.2em;
}

