ul.tag-list {
        display: -webkit-box;
        display: -moz-box;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        margin: 0;
}

ul.tag-list li {
        margin: 0 0.25em;
        padding: 0.2em 1em;
        background-color: #607090;
        border-radius: 5px;
        display: -webkit-box;
        display: -moz-box;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
}

ul.tag-list li a {
        color: #eee;
}

ul.tag-list li.add-tag {
        font-size: large;
        cursor: pointer;
}

ul.tag-list li span.remove-tag {
        display: none;
        cursor: pointer;
        background-color: #906050;
        color: #eee;
        margin: 0 0.2em;
        padding: 0 0.2em;
        border-radius: 5px;
}

ul.tag-list li span.remove-tag:hover {
        background-color: #a84646;
}

ul.tag-list li form {
        display: -webkit-box;
        display: -moz-box;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
}

