{% extends "base.html" %}
{% load authorslist %}
{% load format_tex %}
{% load ref_url %}
{% load tags %}

{% block page_title %}[Ref Search]{% endblock %}

{% block extra_head %}
<style type='text/css'>
        ul#results {
                display: -webkit-box;
                -webkit-box-orient: vertical;
        }
        ul#results li.ref {
                list-style-type: none;
                padding: 1em 1em;
                background-color: #eee;
                border-radius: 1em;
        }
        ul#results .thumb {
                min-width: 10em;
                max-width: 10em;
                min-height: 5em;
                float: left;
                padding: 0.1em;
        }
        div.title {
                font-weight: bold;
        }
</style>
{% endblock %}

{% block content %}
<h2>Search</h2>

<div>
        <form action="/refs/search" method="get">
          {% csrf_token %}
          <input type="text" id="q" name="q" style="width: 40%;" value="{{ query|default:'' }}" />
          <input type="submit" value="Search" />
        </form>
</div>

{% if refs|length == 0 %}
        <h1>No results found</h1>
{% else %}
        <ul id="results">
        {% for ref in refs %}
                <li class="ref">
                        {% if show_thumbs %}
                        <span class='thumb'>
                                {% if ref.document %}
                                <a href="{{ ref|ref_url }}/show">
                                        <img class='thumb' src='/documents/{{ ref.document|get_id }}/page/0?format=png&width=100' />
                                </a>
                                {% endif %}
                        </span>
                        {% endif %}

                        <div class="title"><a href="{{ ref|ref_url }}/show">{{ ref.title|format_tex }}</a></div>
                        <div class="byline">
                                <span class='authors'>{{ ref.authors|format_authors:3 }}</span>
                                <span class='journal'><i>{{ ref.journal }}</i></span>
                                {% if ref.volume %}.
                                Vol. {{ref.volume}}, 
                                {% if ref.issue %}
                                No. {{ref.issue }}
                                {% endif %}
                                {% endif %}
                        </div>
                        <div>{{ ref.pub_date }}</div>
                        <div class='tags'>{{ ref|format_tags }}</div>
                        <blockquote class='abstract'>{{ ref.abstract }}</blockquote>
                </li>
        {% endfor %}
        </ul>
{% endif %}
{% endblock %}

