{% extends "base.html" %}
{% load authorslist %}
{% load format_tex %}
{% load tags %}
{% load ref_url %}

{% block page_title %}[Ref] {{ ref.title }}{% endblock %}

{% block extra_head %}
<style type='text/css'>
        ul.document-list {
                display: -webkit-box;
                -webkit-box-orient: horizontal;
        }
        ul.document-list li {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                border-radius: 2em;
                text-align: center;
                padding: 2em;
                background-color: #ddd;
        }
        ul.document-list li:hover {
                background-color: #eee;
        }
        ul.document-list li img {
                opacity: 0.75;
        }
        ul.document-list li:hover img {
                opacity: 1.0;
        }
</style>
{% endblock %}

{% block content %}
        <h1 class='title'>{{ ref.title|format_tex }}</h1>
        <div class='authors'>{{ ref.authors|format_authors:10 }}.</div>
        <div class='journal'>
                <span class='proper_title'>{{ ref.journal }}</span>{% if ref.volume %}. Vol. {{ref.volume}}. {% if ref.issue %}No. {{ref.issue }}{% endif %}{% endif %}{% if ref.year %} ({{ref.year}}){% endif %}
        </div>
        {% if ref.pub_date %}<div>Publication date: {{ ref.pub_date }}</div>{% endif %}

        {% if ref.arxiv_id %}
        <div>
                <b>arXiv:</b>
                <a class='arxiv_id' href='http://www.arxiv.org/abs/{{ref.arxiv_id}}'>{{ ref.arxiv_id }}</a>
        </div>
        {% endif %}

        {% if ref.doi %}
        <div>
                <b>DOI:</b>
                <a class='doi' href='http://dx.doi.org/{{ref.doi}}'>{{ ref.doi }}</a>
        </div>
        {% endif %}

        <div style='margin: 0.5em;'>
                {{ ref|format_tags }}
        </div>

        <div>
                <b>Abstract:</b>
                <blockquote class='abstract'>
                {% if ref.abstract %}
                        {{ ref.abstract|format_tex }}
                {% else %}
                        Not available.
                {% endif %}
                </blockquote>
        </div>

        <h2>Documents</h2>
        <ul class='document-list'>
        {% for doc in docs %}
        <li>
                <div>{{ doc.filename }}</div>
                <div>
                        <a href='/documents/{{ doc.id }}/view/0?format=png'>
                                <img src="/documents/{{ doc.id }}/page/0?format=png&width=200" />
                        </a>
                </div>
                <div>
                        <a href='/documents/{{ doc.id }}/view/0?format=png'>View</a> or
                        <a href='/documents/{{ doc.id }}'>Download</a>
                </div>
        </li>
        {% empty %}
        None ☹
        {% endfor %}
        </ul>
{% endblock %}

