<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
        <head>
                <title>{% block page_title %}RefTrack{% endblock %}</title>
                <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/layout.css" />
                <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/spinner.css" />
                <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/tags.css" />
                <script type="text/javascript" src="{{ MEDIA_URL }}js/prototype.js"></script>
                <script type="text/javascript" src="{{ MEDIA_URL }}js/tags.js"></script>

                {% block extra_head %}{% endblock %}
        </head>
        <body>
                <div id="page-head">
                        <h1>References</h1>
                        <div class='nav'>
                                <a href='/refs/search'>Search</a>
                        </div>
                </div>
                <div id="content">
                        {% block content %}{% endblock %}
                </div>
        </body>
</html>

